/* src/app/fonts.css */
@font-face {
  font-family: 'GraphikArabic';
  src: url('/fonts/GraphikArabic-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GraphikArabic';
  src: url('/fonts/GraphikArabic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GraphikArabic';
  src: url('/fonts/GraphikArabic-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}